<div class="govuk-form-group <% if(error) { %>govuk-form-group--error<% } %>">
    <label class="govuk-label" for="<%= name %>">
        <%= label %>
    </label>
    <% if(error) { %>
        <p id="<%= name %>-error" class="govuk-error-message">
            <%= error %>
        </p>
    <% } %>
    <input id="<%= name %>"
           class="govuk-input govuk-!-width-two-thirds <% if(error) { %>govuk-input--error<% } %>"
           name="<%= name %>"
           type="<% if(locals.type) { %> <%= type %> <% } else { %>text<% } %>"
           value="<%= value %>"
           <% if(error) { %>aria-describedby="<%= name %>-error"<% } %>>
</div>
