<%- include('../../partials/header'); %>

<%
    var errorMessages = {
        emailAddress: "Enter a valid email address"
    }

    var emailValue = locals.model ? locals.model.emailAddress : ""
    var emailError = locals.errors && locals.errors.emailAddress ? errorMessages.emailAddress : null

    var inputLabel = `<p class="govuk-body">Enter your email address to:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>subscribe for updates when new posts are published</li>
        <li>manage your existing subscription</li>
    </ul>`
%>


<div class="govuk-width-container">
    <a href="/blog" class="govuk-back-link">Back</a>

    <% if (locals.mailchimpError) { %>
        <%- include('./partials/mailchimpError');%>
    <% } %>
    <%- include('../../partials/components/errorSummary', { errors: locals.errors || [], errorMessages }); %>

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Subscribe and manage your subscription</h1>

                <hr class="govuk-section-break govuk-section-break--l">

                <div id="mc_embed_signup">
                    <form style="position: relative;" method="post" id="subscribe-form" name="subscribe-form" target="_self">
                        <div>
                            <%- include('../../partials/components/textInput', { label: inputLabel, name: "emailAddress", type: "email", error: emailError, value: emailValue }); %>

                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div class="mockItem" aria-hidden="true"><input type="text" name="b_421d6e3d31b5a15d8560c613d_d8234fcc62" tabindex="-1" value=""></div>
                            <button id="mc-embedded-subscribe" type="submit" class="govuk-button" data-module="govuk-button">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
                <div class="govuk-inset-text">
                    Please read our <a href="/privacy" class="govuk-link">privacy notice</a> to see how we handle your information.
                </div>
            </div>

        </div>
    </main>
</div>

<%- include('../../partials/footer'); %>
