<%- include('../../partials/header'); %>
    <%
        url = locals.url
        title = locals.document.title ?? "Title"
        uid = locals.document.documentId ?? ""
        summary = locals.document.description ?? ""
        legislativeOrigins = locals.legislativeOrigins ?? []
    %>
<div class="govuk-width-container">
    <%- include('../../partials/components/backButton' , {href: locals.latestSearch}); %>

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-l"><%= locals.docType %></span>
                <h1 class="govuk-heading-l"><%= title %></h1>
                <p><%= summary %></p>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <p>This file may not be suitable for users of assistive technology. </p>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Request an accessible format
                    </span>
                    </summary>
                    <div class="govuk-details__text">
                        If you use assistive technology (such as a screen reader) and need a version of this document in a more accessible format, please email <a href="mailto:openregulationplatform@beis.gov.uk">openregulationplatform@beis.gov.uk</a>. Please tell us what format you need. It will help us if you say what assistive technology you use.
                    </div>
                </details>

                <object class="embedded-pdf" data="<%= url %>" type="application/pdf" title="<%= title %>">
                    <embed src="<%= url %>" type="application/pdf" />
                </object>
            </div>
            <div class="govuk-grid-column-one-third">
                <a href="/api/document-download/<%= uid %>" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button" download="<%= uid %>.pdf">
                    <div class="vertical-align">
                        <img src="/assets/images/download.svg" aria-label="download icon" class="govuk-!-padding-right-1"/>
                        <span>Download</span>
                    </div>
                </a>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <div>
                    <h3 class="govuk-heading-s">Details</h3>
                    <dl class="govuk-body heading-field-list govuk-!-font-size-16">
                        <dt class="govuk-summary-list__key">Published date</dt>
                        <dd> <%- include('../../partials/components/dateDisplay', { dateString: locals.document.date_published }); %></dd>
                        <dt class="govuk-summary-list__key">Regulator</dt>
                        <dd><%= locals.regulator.name %></dd>
                        <dt class="govuk-summary-list__key">Status</dt>
                        <dd><% if(locals.document.status === 'draft') { %> <strong class="govuk-tag">Draft</strong> <% } else { %> <strong class="govuk-tag">Active</strong> <% } %></dd>
                    </dl>
                </div>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <div class="search-result-keywords">
                    <h3 class="govuk-heading-s">Keywords</h3>
                    <ul class="govuk-list govuk-!-padding-top-2">
                        <% document.keyword.forEach(function(keyword) { %>
                            <li><%= keyword %></li>
                        <% }) %>
                    </ul>
                </div>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <div>
                    <h3 class="govuk-heading-s">Linked to Legislation</h3>
                    <% if(legislativeOrigins.length) { %>
                        <% legislativeOrigins.forEach(function(lo) { %>
                        <div class="govuk-!-margin-bottom-4">
                            <a href="<%= lo.url %>" target="_blank" rel="noopener noreferrer" class="govuk-link govuk-link--no-visited-state" ><%= lo.title %></a>
                        </div>

                        <% }); %>
                    <% } else { %>
                        <p>There are no linked legislative documents</p>
                    <% } %>
                </div>
            </div>
        </div>
    </main>
</div>

<%- include('../../partials/footer'); %>
