<%- include('../../partials/header'); %>
    <%
        url = locals.url
        title = locals.document.title ?? "Title"
        uid = locals.document.documentId ?? ""
        summary = locals.document.description ?? ""
        legislativeOrigins = locals.document.legislativeOrigins ?? []
        topics = locals.document.regulatoryTopics ?? []
        documentFormat = locals.documentFormat ?? ""
        ingested = locals.ingested ?? false
        backHref = locals.referrer === 'uploaded' ? `/uploaded-documents/detail/${document.documentId}` : locals.latestSearch
    %>
<div class="govuk-width-container">
    <%- include('../../partials/components/backButton' , {href: backHref}); %>

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <% if(ingested) { %>
                    <div class="govuk-notification-banner" role="region"
                         aria-labelledby="govuk-notification-banner-title"
                         data-module="govuk-notification-banner">
                        <div class="govuk-notification-banner__header">
                            <h1 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                                Important
                            </h1>
                        </div>
                        <div class="govuk-notification-banner__content">
                            <p class="govuk-notification-banner__heading">
                                Let us know if there is a problem
                            </p>
                            <p>
                                We have extracted information from the document you provided. Review this page and contact <a class="govuk-link" href="mailto:openregulationplatform@beis.gov.uk">openregulationplatform@beis.gov.uk</a> if you think there’s a problem. No further action is needed if the information on this page is correct.
                            </p>
                        </div>
                    </div>
                <% } %>
                <span class="govuk-caption-l"><%= locals.docType %></span>
                <h1 class="govuk-heading-l"><%= title %></h1>
                <p><%= summary %></p>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <% if(documentFormat === 'HTML') { %>
                    <a class="govuk-link govuk-!-font-size-19" href="<%= document.uri %>" rel="noopener noreferrer" target="_blank">View full document on GOV.UK</a>
                <% } else { %>
                    <p>This file may not be suitable for users of assistive technology. </p>
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Request an accessible format
                        </span>
                        </summary>
                        <div class="govuk-details__text">
                            If you use assistive technology (such as a screen reader) and need a version of this document in a more accessible format, please email <a href="mailto:openregulationplatform@beis.gov.uk">openregulationplatform@beis.gov.uk</a>. Please tell us what format you need. It will help us if you say what assistive technology you use.
                        </div>
                    </details>
                <% } %>

                <%- include('../../partials/components/documentView', {url, documentFormat, title, small:false}); %>
            </div>
            <div class="govuk-grid-column-one-third">
                <% if(documentFormat === 'HTML') { %>
                    <a href="<%= document.uri %>" target="_blank" rel="noopener noreferrer" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        <div class="vertical-align">
                            <img src="/assets/images/external-open.svg" aria-hidden="true" class="govuk-!-padding-right-1" alt=""/>
                            <span>View on GOV.UK</span>
                        </div>
                    </a>
                <% } else { %>
                    <a href="/document/download/<%= uid %>" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button" download="<%= uid %>.pdf">
                        <div class="vertical-align">
                            <img src="/assets/images/download.svg" alt="" class="govuk-!-padding-right-1"/>
                            <span>Download</span>
                        </div>
                    </a>
                <% } %>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <div>
                    <h2 class="govuk-heading-s">Details</h2>
                    <dl class="govuk-body heading-field-list govuk-!-font-size-16">
                        <dt class="govuk-summary-list__key">Published date</dt>
                        <dd> <%- include('../../partials/components/dateDisplay', { dateString: locals.document.dates.published }); %></dd>
                        <dt class="govuk-summary-list__key">Regulator</dt>
                        <dd><%= locals.regulator.name %></dd>
                        <dt class="govuk-summary-list__key">Status</dt>
                        <dd><% if(locals.document.status === 'draft') { %> <strong class="govuk-tag">Draft</strong> <% } else { %> <strong class="govuk-tag">Active</strong> <% } %></dd>
                    </dl>
                </div>
                <% if(topics.length) { %>
                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                    <div>
                        <h2 class="govuk-heading-s">Topics</h2>
                        <ul class="govuk-list govuk-!-padding-top-2 govuk-!-font-size-16">
                            <% topics.forEach(function(topic) { %>
                                <li><%= topic %></li>
                            <% }) %>
                        </ul>
                    </div>
                <% } %>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <div class="search-result-keywords">
                    <h2 class="govuk-heading-s">Keywords</h2>
                    <ul class="govuk-list govuk-!-padding-top-2">
                        <% document.keyword.forEach(function(keyword) { %>
                            <li><%= keyword %></li>
                        <% }) %>
                    </ul>
                </div>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <div>
                    <h2 class="govuk-heading-s">Linked to Legislation</h2>
                    <% if(legislativeOrigins.length) { %>
                        <% legislativeOrigins.forEach(function(lo) { %>
                        <div class="govuk-!-margin-bottom-4">
                            <a href="<%= lo.href %>" target="_blank" rel="noopener noreferrer" class="govuk-link govuk-link--no-visited-state" ><%= lo.title %></a>
                        </div>

                        <% }); %>
                    <% } else { %>
                        <p class="govuk-!-font-size-16">There are no linked legislative documents</p>
                    <% } %>
                </div>
            </div>
        </div>
    </main>
</div>

<%- include('../../partials/footer'); %>
