<%- include('../../partials/header'); %>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
               <h1 class="govuk-heading-l">About the ORP </h1>
                <p>UK businesses often have a number of different regulations to comply with. The rules that need to be followed can be found in a variety of places including primary or secondary legislation or codes of practice published by regulators. To make understanding rules easier for business, regulators publish guidance documents and other supporting material that can be used to help navigate the rules they enforce. Businesses usually have to comply with regulations enforced by multiple different regulators, however, this information is spread out over the different regulator’s websites and other resources. <a href="https://www.gov.uk/government/publications/business-regulation-business-perceptions-survey-2020" target="_blank" rel="noopener noreferrer">BEIS’s Business Perception Survey from 2020</a> found that businesses spend, on average, around eight staff days per month complying with regulation.</p>

                <img src="/assets/images/about-us.jpg" class="govuk-!-width-one-half floating-img" alt="">
                <p>The <a href="https://www.gov.uk/government/groups/better-regulation-executive" target="_blank" rel="noopener noreferrer">Better Regulation Executive</a> wants to make it easier for all businesses to comply with regulation. The Open Regulation Platform (ORP) is a product which seeks to provide access to UK regulation through an enriched machine-readable dataset. The platform will create a single-point-of-entry – accessible through an API and a WebApp – to original primary and secondary legislation, rules made by regulators through Codes of Practice and other guidance documents. </p>

                <p>The ORP will enable government, businesses and third parties to develop tools and products that can help others navigate and comply with regulation in smarter and less burdensome ways. In this way, the ORP will stimulate innovation within the Regulatory Technology (RegTech) sector.</p>

                <p>Stimulating innovation is one of the ways that the time and resource currently taken to achieve compliance can be reduced. RegTech solutions can be used in various ways to improve compliance. Tools can automate some of the steps needed for business to become compliant, help businesses understand their responsibilities more easily, create digitised mechanisms to improve compliance and document evidence of it or take other routes to ensuring regulations are met in simpler, cheaper ways. The <a href="https://www.gov.uk/government/publications/the-kalifa-review-of-uk-fintech" target="_blank" rel="noopener noreferrer">growth of FinTech</a> tools designed to support regulatory compliance demonstrates the impact solutions like this can have and the ORP will seek to encourage similar innovations in sectors beyond finance. </p>

                <p>The ORP will unlock further Reg Tech innovations by allowing regulatory information to be integrated directly into solutions or by ensuring the teams building them have easier access to source regulation or guidance that can interpret it the regulatory burden faced by businesses of all sizes can be lessened.</p>

                <h2 class="govuk-heading-m" id="get-involved">How to get involved</h2>
                <p>A multi-disciplinary team from <a href="https://www.public.io/" target="_blank" rel="noopener noreferrer">PUBLIC</a> and <a href="https://mdrx.tech/" target="_blank" rel="noopener noreferrer">MDRxTech</a> are working with the Better Regulation Executive to develop a beta version of the ORP. If you would like to get in touch and find out more about the platform or what we are doing right now then get in touch with us by emailing <a class="govuk-link" href="mailto:openregulationplatform@beis.gov.uk">openregulationplatform@beis.gov.uk</a>.</p>

                <div class="govuk-!-margin-top-9">
                    <h3 class="govuk-heading-m">Share this page</h3>
                    <p>Sharing will open the page in a new tab</p>
                    <div class="share-icons">
                        <a target="_blank" href="<%= social.facebook %>" class="social-link social-facebook">Facebook</a>
                        <a target="_blank" href="<%= social.linkedIn %>" class="social-link social-linkedin">LinkedIn</a>
                        <a target="_blank" href="<%= social.twitter %>" class="social-link social-twitter">Twitter</a>
                        <a target="_blank" href="<%= social.email %>" class="social-link social-email">Email</a>
                    </div>
                </div>
            </div>

            <%- include('../../partials/aboutSidebar' , {excludeAbout: true}); %>
        </div>
    </main>
</div>

<%- include('../../partials/footer'); %>
