<%- include('../../partials/header'); %>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third sticky-sidebar">
                <h2 class="govuk-heading-s">On this page</h2>
                <ul class="govuk-list">
                    <li><a href="#" class="govuk-link govuk-link--no-visited-state">Introduction</a> </li>
                    <li><a href="#background" class="govuk-link govuk-link--no-visited-state">Background</a> </li>
                    <li><a href="#wider-government-strategy" class="govuk-link govuk-link--no-visited-state">Alignment with Wider Government Strategy</a></li>
                    <li><a href="#get-involved" class="govuk-link govuk-link--no-visited-state">How to get involved</a></li>
                </ul>
            </div>
            <div class="govuk-grid-column-two-thirds">
               <h1 class="govuk-heading-l">About the Open Regulation Platform</h1>
                <h2 class="govuk-heading-m" id="introduction">Introduction</h2>
                <p>The UK regulatory landscape is complex and difficult to navigate. Many of the rules that businesses need to comply with are found in legislation that can be difficult to find. If you do find them then they can be difficult to interpret without consulting guidance documents that either set out the goals that need to be achieved or help explain what businesses have to do to achieve compliance. The array of documents that businesses need to find is therefore extensive and often found in different places. As a result, businesses either do not know what rules they have to comply with are or have to dedicate large amounts of resource to identifying and understanding them.</p>
                <p>BEIS’s Business Perception Survey from 2020 found that businesses spend, on average, around eight staff days per month complying with regulation. Further analysis suggests that reducing search costs and making it easier for businesses to identify material needed for compliance could be worth up to £500ml to the UK economy.  The Better Regulation Executive wants to make it easier for all businesses to comply with regulation. The Open Regulation Platform (ORP) is a product which seeks to provide access to UK regulation through an enriched machine-readable dataset. The platform will create a single-point-of-entry - through an API and a WebApp - to original primary and secondary legislation, rules made by regulators through Codes of Practice and other guidelines as well guidance documents and other types of information.</p>
                <p>The ORP will enable government, businesses and third parties to develop tools and products that can help others navigate and comply with regulation in smarter and less burdensome ways. In this way, the ORP will stimulate innovation within the Regulatory Technology (RegTech) sector.</p>
                <p>Stimulating innovation is one of the ways that the time and resource currently taken to achieve compliance can be reduced. RegTech solutions can be used in various ways to improve compliance. Tools can automate some of the steps needed for business to become compliant, help businesses understand their responsibilities more easily, create digitised mechanisms to improve compliance and document evidence of it or take other routes to ensuring regulations are met in simpler, cheaper ways.</p>
                <p>The ORP will unlock further Reg Tech innovations by allowing regulatory information to be integrated directly into solutions or by ensuring the teams building them have easier access to source regulation or guidance that can interpret it the regulatory burden faced by businesses of all sizes can be lessened.</p>
                <p>Below you can read more about the background of the ORP, how it aligns with wider Government strategy and how you can get involved.</p>

               <h2 class="govuk-heading-m" id="background">Background</h2>
                <p>The new Cabinet Committee on Better Regulation, announced in February 2021 that a sub-Committee of the National Economy and Recovery Taskforce, has been tasked with:</p>
                <p>“Identifying options for measures which reduce the burden of the end-to-end daily business experience of regulation, which should include measures which do not strictly require legislation to achieve. This should include streamlining information and reporting requirements, better use of existing data collection, better guidance and digital interfaces for businesses, and the schema of (often overlapping) regulators across sectors.”</p>
                <p> The Open Regulation Platform provides a unique opportunity to carry out this work and focus on an often-overlooked burden caused by regulation – easing the burden to businesses of understanding their obligations. This project can form the groundwork for subsequent innovation into how regulatory information is produced, processed, and published.</p>
                <p> Co-ordinated digitisation and standardisation of this information will become more important over time as regulations are added to a growing corpus. Either the navigation processes and overhead to businesses will increase, limiting productivity and creating a barrier to entry and growth for small firms, or there will be less overall compliance and necessary regulations will be less effective at preventing harm.</p>
                <p>This is the right time to address this problem as regulators have already made significant progress in making their own information digitally accessible and standardised within their own remit, for instance the work by the FCA on their digital handbook.</p>
                <p>This project offers an opportunity to ensure that government is taking a holistic look at the complex needs of businesses that sit outside any individual regulator’s remit.</p>
                <p>Increased demand for transparent and clear guidance on regulation is particularly accentuated by our COVID-19 response and our departure from the European Union as UK and international business look to understand both retained EU law and keep pace with fast-paced COVID-19 regulatory changes as well as our longer-term regulatory divergence as we seize the opportunities for change.</p>
                <p>The Open Regulation Platform will be able to better serve the needs of businesses who need to understand the whole picture of their obligations including cross-cutting regulations such as health and safety and labour laws, and it will ensure the project is prepared for the future as new industries and business models develop over time that may not fall directly within the remit of an established regulator or industry bodies.</p>
                <p> The Better Regulation Executive within BEIS is uniquely placed to co-ordinate this work, with existing relationships with regulators across the public sector, knowledge of the RegTech sector, and experience in organising broader public sector standards such as the Better Regulation Framework.</p>

                <h2 class="govuk-heading-m" id="wider-government-strategy">Alignment with Wider Government Strategy</h2>
                <h3 class="govuk-heading-s">HM Treasury - <a href="https://www.gov.uk/government/publications/build-back-better-our-plan-for-growth" target="_blank" rel="noopener noreferrer">Build Back Better: Our Plan for Growth</a></h3>
                <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                    <li>The Open Regulation Platform helps to achieve several goals in the Innovation pillar from the Treasury’s ‘plan for growth’ strategy.</li>
                    <li>The project itself is directly highlighted in the section on developing a regulatory system for an innovative economy, which lays out an array of programmes on regulatory reform. The strategy commits to “[harnessing] technology to ease the burdens of engaging with regulation” by “[converting] UK business legislation into machine-readable data to drive the development of RegTech apps.”</li>
                    <li>The potential benefits of the Open Regulation Platform on complementary technologies such as FinTech and Digital Twins, mean it is also in support of backing the sectors and technologies that will shape the UK’s future. As a world-first, the Open Regulation Platform would make the UK an even more supportive environment for these innovative industries.</li>
                    <li>The public sector investment in this data capability has the potential to crowd-in private sector research and development, in aid of the goal of supporting and incentivising the development of creative ideas and technologies. Research shows the potential of open data projects to produce innovative and successful products. The most prominent example in the UK was the role of Transport for London’s open data work in the creation of CityMapper and similar products, leading to a Gross Value Add of between £12m and £15m based on a 2017 report.</li>
                    <li>Finally, through the potential large benefits to SMEs in terms of new and relevant digital tools to help them understand regulation, the ORP will help with encouraging the adoption and diffusion of innovative ideas and technologies across the economy, improving the digital literacy and overall productivity of SMEs and complementing the Help to Grow: Digital scheme.</li>
                </ul>

                <h3 class="govuk-heading-s">Department for Digital, Culture, Media and Sport - <a href="https://www.gov.uk/guidance/national-data-strategy#:~:text=The%20National%20Data%20Strategy%20(NDS,public%20trust%20in%20data%20use." target="_blank" rel="noopener noreferrer">National Data Strategy</a></h3>
                <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                    <li>The impact of this project on the data economy is visible through its close alignment with the National Data Strategy (“NDS”). The ORP can substantially contribute to three of the NDS five priority missions:
                        <ol class="govuk-list govuk-list--number">
                            <li>Unlocking the value of data across the economy;</li>
                            <li>Securing a pro-growth and trusted data regime; and</li>
                            <li>Transforming government’s use of data to drive efficiency and improve public services.</li>
                        </ol>
                    </li>
                    <li>Regulatory data and metadata are valuable to every organisation looking to do business in the UK. By analysing, enriching, and opening up this data, this project will catalyse innovation and unlock the value of regulatory data across the economy in line with the above NDS mission 1. Government, businesses, academics and third parties will be able to develop tools and applications to help clarify regulatory obligations in ways government alone never could.</li>
                    <li>The NDS stresses the increasing importance of ensuring that, as data use expands, it provides a stable environment for businesses and consumers. The Government can play a positive role to enable innovation by creating an environment in which data-driven services are more secure and trusted. Ensuring legal obligations are understandable and accessible to digital services is key to providing the transparent and trustworthy governance of digitised regulatory services which business, investors and society require, and will improve the accuracy of the legal information they rely on (reducing costs and non-compliance). In building a world-leading standard for legislation as data, the ORP will contribute to the NDS mission 2, securing a pro-growth and trusted data regime.</li>
                    <li>Finally, the ORP will create a common platform for government, regulators, and businesses to understand, analyse and help citizens navigate regulation using digital tools, the project can help deliver the aspirations of the above NDS mission 3 to transform government’s use of data to drive efficiency and improve public services. Exposing internal Governmental data should help identify the points of greatest ‘friction’ in the regulatory landscape, allowing us to address current Government and regulatory coordination failures.</li>
                </ul>
                <h3 class="govuk-heading-s">Department for International Trade – Ensuring the UK remains the world-leader in international investment</h3>
                <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                    <li>DIT aims to improve the investment environment of the UK and drive economic and productivity growth across the country. Regulation is one of the areas that matters most to international investors, who frequently state that it is too burdensome and complex, and thus a barrier to investment. By facilitating tools to make regulation more understandable and accessible, this project will help to unblock this barrier and ensure that the UK provides an attractive regulatory environment that facilitates increased foreign investment.</li>
                    <li>As an initiative of considerable ambition internationally, the Open Regulation Platform puts the UK at the forefront of global RegTech innovation and supports the UK becoming a world leading data economy. The scale of our project, which covers the stock of UK regulatory obligations on businesses is unprecedented globally: a range of countries have explored sector-specific or subject-specific ‘deep-dives’ which focus on a specific subset of legislation (e.g. consider data collection, financial reporting or the tax and benefits system) but as yet, no country has considered approaching their regulatory landscape or statute book as a whole. This project has the potential to strengthen the influence of the UK on the international stage and provide further opportunities for influence in regulatory cooperation. A lack of intervention in this area would result in the UK losing its first-mover advantage and failing to benefit from the associated reputational and economic benefits.</li>
                    <li>To maximise levels of inward investment, DIT and BEIS will work with priority overseas posts to ensure that officials within those posts are aware of – and able to explain – this platform to overseas investors and how applications drawing on its rich metadata can help companies navigate through the UK regulatory landscape. Separately, we will make sure that these posts, the cross-Government Tech Hubs overseas and officials across the UK who regularly interface with tech companies, are able to market to domestic and overseas tech entrepreneurs the commercial opportunities of using the Open Regulations Platform to develop new applications.</li>
                </ul>
                <h3 class="govuk-heading-s">Strengthening the UK Union</h3>
                <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                    <li>The scope of this project includes all UK business regulations, and we will work with the devolved administrations where elements of the regulatory framework fall within their remit. We are already engaged with the Better Regulation teams in each country and will continue to involve them as a key delivery partner.</li>
                    <li>This project has the potential to make it significantly easier for businesses to work across all four nations by simplifying access to the necessary regulations and providing clear guidance on the relevant jurisdictions where they apply.</li>
                </ul>

                <h2 class="govuk-heading-m" id="get-involved">How to get involved</h2>
                <p>Thank you for your interest in the project. A multi-disciplinary team from <a href="https://www.public.io/" target="_blank" rel="noopener noreferrer">PUBLIC</a> and <a href="https://mdrx.tech/" target="_blank" rel="noopener noreferrer">MDRxTech</a> are working with the Better Regulation Executive to develop a beta version of the ORP. If you would like to get in touch and find out more about the platform or what we are doing right now then get in touch with us by emailing <a class="govuk-link" href="mailto:openregulationplatform@beis.gov.uk">openregulationplatform@beis.gov.uk</a>.</p>



                <div class="govuk-!-margin-top-9">
                    <h3 class="govuk-heading-m">Share this page</h3>
                    <p>Sharing will open the page in a new tab</p>
                    <div class="share-icons">
                        <a target="_blank" href="<%= social.facebook %>" class="social-link social-facebook">Facebook</a>
                        <a target="_blank" href="<%= social.linkedIn %>" class="social-link social-linkedin">LinkedIn</a>
                        <a target="_blank" href="<%= social.twitter %>" class="social-link social-twitter">Twitter</a>
                        <a target="_blank" href="<%= social.email %>" class="social-link social-email">Email</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<%- include('../../partials/footer'); %>
