<%- include('../../partials/header'); %>

<%
    var hasNewCreds = locals.newCreds
    var hasExisitingCreds = !!locals.creds?.length
    var hasNoCreds = !hasNewCreds && !hasExisitingCreds
%>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <div class="side-bar-item-no-border-bottom">
                    <h3 class="govuk-heading-s">API Documentation</h3>
                    <p>We use Swagger Docs for our API documentation.</p>
                    <a href="/api/docs" class="govuk-link">To Swagger Docs</a>
                </div>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">API Credentials</h1>

                <% if (hasNewCreds) { %>
                    <div class="govuk-!-padding-bottom-9">
                        <h2 class="govuk-heading-m">Your new credentials</h2>
                        <p>Please securely store your client credentials, once you leave page you will not be able to retrieve the secret again. Anyone at your organisation can use these credentials.</p>

                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Client ID
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <%= locals.newCreds.clientId %>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Client Secret
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <%= locals.newCreds.clientSecret %>
                                </dd>
                            </div>
                        </dl>
                    </div>
                <% } %>

                <% if (hasExisitingCreds) { %>
                    <h2 class="govuk-heading-m">Existing API credentials for your organisation</h2>

                    <% locals.creds.forEach(function(cred) { %>
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Client ID
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <%= cred.Username %>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Creation date
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <%- include('../../partials/components/dateDisplay', { dateString: cred.UserCreateDate }); %>
                                </dd>
                            </div>
                        </dl>
                    <% }); %>
                <% } %>
                <hr class="govuk-section-break govuk-section-break--l">

                <% if(hasNoCreds) { %>
                    <h2 class="govuk-heading-m">Generate Your API Credentials</h2>
                    <p>A Client ID and Client Secret is required to access the API. Use the button below to generate them. Anyone at your organisation can use these credentials.</p>
                <% } else { %>
                    <h2 class="govuk-heading-m">Need new API credentials?</h2>
                    <p>You can generate new API credentials by clicking the button below.</p>
               <% } %>

                <form method="post">
                    <button type="submit" class="govuk-button  <% if(!hasNoCreds) { %> govuk-button--secondary<% } %>" data-module="govuk-button">
                        Generate API Credentials
                    </button>
                </form>

            </div>
        </div>
    </main>
</div>

<%- include('../../partials/footer'); %>
