<%- include('../../partials/header'); %>
<%
 var globalError = locals?.errors?.global
 var emailError = locals?.errors?.email
 var pwError = locals?.errors?.password
%>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Sign in</h1>
                <p>Enter your Open Regulation Platform account details to sign in</p>

                <form method="post">
                    <div <% if(globalError) { %> class="govuk-form-group govuk-form-group--error" <% } %>>
                        <% if(globalError) { %>
                            <p id="sign-in-error" class="govuk-error-message">
                                <%= globalError %>
                            </p>
                        <% } %>

                        <div class="govuk-form-group <% if(emailError || globalError) { %>govuk-form-group--error<% } %>">
                            <h2 class="govuk-label-wrapper">
                                <label class="govuk-label govuk-label--s" for="email">Email address</label>
                            </h2>
                            <% if(emailError) { %>
                                <p id="email-error" class="govuk-error-message">
                                    <%= emailError %>
                                </p>
                            <% } %>
                            <input class="govuk-input govuk-!-width-two-thirds <% if(emailError || globalError) { %>govuk-input--error<% } %>" id="email" name="email" type="text" <% if(locals?.values?.email) { %>value="<%= locals?.values?.email %>" <% } %> />
                        </div>
                        <div class="govuk-form-group <% if(pwError || globalError) { %>govuk-form-group--error<% } %>">
                            <h2 class="govuk-label-wrapper">
                                <label class="govuk-label govuk-label--s" for="password">Password</label>
                            </h2>
                            <% if(pwError) { %>
                                <p id="password-error" class="govuk-error-message">
                                    <%= pwError %>
                                </p>
                            <% } %>
                            <input class="govuk-input govuk-!-width-one-half  <% if(pwError || globalError) { %>govuk-input--error<% } %>" id="password" name="password" type="password" data-module="password-reveal" <% if(locals?.values?.password) { %>value="<%= locals?.values?.password %>" <% } %> />
                        </div>
                    </div>

                    <button type="submit" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
                        Sign in
                    </button>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                <div class="side-bar-item-no-border-bottom">
                    <div class="govuk-!-margin-bottom-6">
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Forgot your password?</h3>
                        <a href="/auth/new-password" class="govuk-link govuk-link--no-visited-state">Reset your password</a>
                    </div>
                    <div class="govuk-!-margin-bottom-6">
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Don't have an account?</h3>
                        <a href="/auth/register" class="govuk-link govuk-link--no-visited-state">Create an account</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<%- include('../../partials/footer'); %>
