<%- include('../../partials/header'); %>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <%- include('../../partials/components/errorSummary', { errors: locals.errors }); %>

                <h1 class="govuk-heading-l">Enter your email address to register</h1>
                <p>To confirm it is your email address we will send you a link.</p>

                <form method="post">
                    <div class="govuk-form-group <% if(locals?.errors?.email) { %>govuk-form-group--error<% } %>">
                        <h2 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--s" for="email">Email</label>
                        </h2>
                        <% if(locals?.errors?.email) { %>
                            <p id="email-error" class="govuk-error-message">
                                <%= locals?.errors?.email %>
                            </p>
                        <% } %>
                        <input class="govuk-input govuk-!-width-two-thirds" id="email" name="email" type="email" autocomplete="email" <% if(locals?.values?.email) { %>value="<%= locals?.values?.email %>" <% } %> />
                    </div>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          I have forgotten or cannot access this email address
                        </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p>For security reasons you need to contact the Open Regulation Platform support team. You can contact the team by emailing <a class="govuk-link" href="mailto:openregulationplatform@beis.gov.uk">openregulationplatform@beis.gov.uk</a>.</p>
                        </div>
                    </details>

                    <button type="submit" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
                        Continue
                    </button>
                </form>
            </div>
        </div>
    </main>
</div>

<%- include('../../partials/footer'); %>
