<%- include('../../partials/header'); %>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <%- include('../../partials/components/errorSummary', { errors: locals.errors }); %>

                <h1 class="govuk-heading-l">Reset your password</h1>
                <form method="post">
                    <% if (locals.email) { %>
                        <input name="email" value="<%= locals.email %>" type="hidden">
                    <% } %>
                    <div class="govuk-form-group <% if(locals?.errors?.previousPassword) { %>govuk-form-group--error<% } %>">
                        <h2 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--s" for="previousPassword">Enter your current password</label>
                        </h2>
                        <% if(locals?.errors?.previousPassword) { %>
                            <p id="email-error" class="govuk-error-message">
                                <%= locals?.errors?.previousPassword %>
                            </p>
                        <% } %>
                        <input class="govuk-input govuk-!-width-one-half" id="previousPassword" name="previousPassword" type="password" data-module="password-reveal" autocomplete="current-password" />
                    </div>
                    <div class="govuk-form-group <% if(locals?.errors?.newPassword) { %>govuk-form-group--error<% } %>">
                        <h2 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--s" for="newPassword">Enter your new password</label>
                        </h2>
                        <div id="password-hint" class="govuk-hint govuk-!-font-size-16 govuk-!-width-three-quarters">
                            Password must be at least 8 characters long, contain at least 1 number, 1 special character, 1 uppercase and 1 lowercase letter.
                        </div>
                        <% if(locals?.errors?.newPassword) { %>
                            <p id="new-password-error" class="govuk-error-message">
                                <%= locals?.errors?.newPassword %>
                            </p>
                        <% } %>
                        <input class="govuk-input govuk-!-width-one-half" id="newPassword" name="newPassword" type="password" data-module="password-reveal" autocomplete="new-password" />
                    </div>

                    <div class="govuk-form-group <% if(locals?.errors?.confirmPassword) { %>govuk-form-group--error<% } %>">
                        <h2 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--s" for="confirmPassword">Confirm password</label>
                        </h2>
                        <% if(locals?.errors?.confirmPassword) { %>
                            <p id="new-password-error" class="govuk-error-message">
                                <%= locals?.errors?.confirmPassword %>
                            </p>
                        <% } %>
                        <input class="govuk-input govuk-!-width-one-half" id="confirmPassword" name="confirmPassword" type="password" data-module="password-reveal" autocomplete="new-password"/>
                    </div>

                    <button type="submit" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
                        Continue
                    </button>
                </form>
            </div>
        </div>
    </main>
</div>

<%- include('../../partials/footer'); %>
