<%- include('../../partials/header'); %>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Your API credentials</h1>
                <p>These API credentials were previously generated for your organisation. You can remove credentials you no longer need. You are not able to view the Client Secret for credentials that were previously created. If you need a Client Secret please generate new credentials.</p>
                    <% locals.creds.forEach(function(cred) { %>
                        <div class="govuk-body existing-api-credentials">
                            <div class="existing-api-credentials__top">
                                <%- include('../../partials/components/dateDisplay', { dateString: cred.UserCreateDate }); %>
                                <form method="post" action="/developer/remove-credentials">
                                    <input name="username" value="<%= cred.Username %>" type="hidden">
                                    <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
                                        Remove
                                    </button>
                                </form>
                            </div>
                            <dl class="govuk-body">
                                <dt>
                                    Client ID
                                </dt>
                                <dd>
                                    <%= cred.Username %>
                                </dd>
                            </dl>
                        </div>
                    <% }); %>
                <hr class="govuk-section-break govuk-section-break--l">

                <form method="post" action="/developer/new-credentials">
                    <h2 class="govuk-heading-m">Need new credentials?</h2>
                    <p>You can generate new API credentials by clicking the button below.</p>
                    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Generate Credentials
                    </button>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                <%- include('./partials/developerRightBar'); %>
            </div>
        </div>
    </main>
</div>
<%- include('../../partials/footer'); %>
