<%- include('../../partials/header'); %>
<div class="govuk-width-container">
    <a href="/developer" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Your new API credentials</h1>

                <div class="govuk-!-padding-bottom-6">
                    <p>A Client ID and Client Secret is required to access the Open Regulation Platform API. Anyone at your organisation can use these credentials.</p>
                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">Warning</span>
                            Securely store your Client Secret. Once you leave this page you will not be able to view your Client Secret again.
                        </strong>
                    </div>
                    <div>
                        <dl class="new-api-credentials govuk-body">
                            <div class="new-api-group">
                                <dt class="new-api-credentials__key">
                                    Client ID
                                </dt>
                                <dd class="new-api-credentials__value">
                                    <%= locals.newCreds.clientId %>
                                </dd>
                            </div>
                            <div class="new-api-group">
                                <dt class="new-api-credentials__key">
                                    Client Secret
                                </dt>
                                <dd class="new-api-credentials__value">
                                    <%= locals.newCreds.clientSecret %>
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>

                <form method="post">
                    <h2 class="govuk-heading-m">Need new credentials?</h2>
                    <p>You can generate new API credentials by clicking the button below.</p>
                    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Generate Credentials
                    </button>
                </form>
            </div>

            <div class="govuk-grid-column-one-third">
                <%- include('./partials/developerRightBar'); %>
            </div>
        </div>
    </main>
</div>
<%- include('../../partials/footer'); %>
