<%- include('../partials/header'); %>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <h1><%= message %></h1>
        <h2><%= status %></h2>
        <pre><%= stack %></pre>
        </main>
</div>

<%- include('../partials/footer'); %>
