<%- include('../../partials/header'); %>

<div class="govuk-width-container">
    <a href="/blog" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <span class="govuk-caption-l">Blog</span>
        <h1 class="govuk-heading-l">Open Regulation Platform</h1>
        <p>Description of the purpose of the blog</p>
        <p class="govuk-body-xs">Organisations: <a href="https://www.gov.uk/government/organisations/department-for-business-energy-and-industrial-strategy" class="govuk-link">Department for Business, Energy & Industrial Strategy</a>, <a href="https://www.gov.uk/government/groups/better-regulation-executive" class="govuk-link">Better Regulations Executive</a></p>

        <hr class="govuk-section-break govuk-section-break--l">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <%- include('partials/blogPost', {post: post, summary: false}); %>
                <h3 class="govuk-heading-m">Share this page</h3>
                <p>Sharing will open the page in a new tab</p>
                <div class="share-icons">
                    <a target="_blank" href="<%= social.facebook %>" class="social-link social-facebook">Facebook</a>
                    <a target="_blank" href="<%= social.linkedIn %>" class="social-link social-linkedin">LinkedIn</a>
                    <a target="_blank" href="<%= social.twitter %>" class="social-link social-twitter">Twitter</a>
                    <a target="_blank" href="<%= social.email %>" class="social-link social-email">Email</a>
                </div>
            </div>

            <%- include('../../partials/aboutSidebar'); %>
        </div>
    </main>
</div>

<%- include('../../partials/footer'); %>
