<% var backHref = `/uploaded-documents/detail/${id}` %>

<%- include('../../partials/header'); %>
<div class="govuk-width-container">
    <%- include('../../partials/components/backButton' , {href: backHref}); %>

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <%- include('../../partials/components/errorSummary', { errors: locals.errors, hrefOverride: "document-type-GD" }); %>
                <h1 class="govuk-heading-l">Update document type</h1>
                <%- include('../ingest/partials/documentTypeForm', { submitText: 'Update', cancelLink: backHref }); %>

                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Get help updating a document
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p>Contact <a class="govuk-link" href="mailto:openregulationplatform@beis.gov.uk">openregulationplatform@beis.gov.uk</a> if you need help using this service.</p>
                    </div>
                </details>

            </div>
        </div>
    </main>
</div>
<%- include('../../partials/footer'); %>
