<%- include('../../partials/header'); %>
<%
    const documents = locals.searchResponse.documents ?? []
    const totalSearchResults = locals.searchResponse.totalSearchResults ?? 0
    const numberOfPages = locals.pagination.totalPages
    const pageOn = locals.pagination.pageOn
    const nextValue = locals.pagination.nextValue
    const prevValue = locals.pagination.prevValue
    const paginationPages = locals.pagination.pagesToShow
%>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Uploaded Documents</h1>

                <% if (documents.length) { %>
                    <p>Your regulator has uploaded <%= totalSearchResults %> documents to the Open Regulation Platform. Every user in the regulator can update and delete the document.</p>

                    <div class="govuk-!-padding-top-6">
                        <ul id="uploaded-documents-results">
                            <% documents.forEach((document) => { %>
                                <li>
                                    <h2><a class="govuk-link govuk-!-font-size-19 govuk-link--no-visited-state" href="/uploaded-documents/detail/<%= document.documentId %>"><%= document.title %></a></h2>
                                    <p class="govuk-!-font-size-16">
                                        Published on <%- include('../../partials/components/dateDisplay', { dateString: document.dates.published }); %>
                                    </p>
                                </li>
                            <% }) %>
                        </ul>
                    </div>

                    <% if(numberOfPages > 1) { %>
                        <nav class="govuk-pagination" role="navigation" aria-label="results">
                            <% if(prevValue !== null) { %>
                                <div class="govuk-pagination__prev">
                                    <a class="govuk-link govuk-pagination__link" href="/uploaded-documents/<%= prevValue %>" rel="prev">
                                        <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                                            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                                        </svg>
                                        <span class="govuk-pagination__link-title">Previous</span></a>
                                </div>
                            <% } %>
                            <ul class="govuk-pagination__list">
                                <% paginationPages.forEach((page) => { %>
                                    <% if(page === null ) { %>
                                        <li class="govuk-pagination__item govuk-pagination__item--ellipses">&ctdot;</li>
                                    <% } else { %>
                                        <li class="govuk-pagination__item <% if(pageOn === page) { %>govuk-pagination__item--current<% } %>">
                                            <a class="govuk-link govuk-pagination__link" href="/uploaded-documents/<%= page %>" aria-label="Page <%= page %>" <% if(pageOn === page) {%>aria-current="page"<% } %>>
                                                <%= page %>
                                            </a>
                                        </li>
                                    <% } %>
                                <% }) %>
                            </ul>
                            <% if(nextValue !== null) { %>
                                <div class="govuk-pagination__next">
                                    <a class="govuk-link govuk-pagination__link" href="/uploaded-documents/<%= nextValue %>" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                                            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                                        </svg></a>
                                </div>
                            <% } %>
                        </nav>
                    <% } %>

                <% } else { %>
                    <p>Your regulator has not uploaded any documents to the Open Regulation Platform. </p>
                <% } %>

            </div>
        </div>
    </main>
</div>

<%- include('../../partials/footer'); %>
