<div class="blog-post-list-item">
    <% if (summary === true) { %>
        <p><a href="/blog/<%= post.id %>" class="govuk-link"><%= post.title %></a></p>
    <%} else { %>
        <h2 class="govuk-heading-l"><%= post.title %></h2>
    <% } %>

    <p class="govuk-!-font-size-16">
        <%= post.author%>.
        <%= post.date %>
    </p>

    <% if(post.youtubeId) { %>
        <div class="embed-container">
            <iframe src="https://www.youtube.com/embed/<%= post.youtubeId %>" title="<%= post.title%> (video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    <% } else if (post.image.name) { %>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
                <img src="/assets/images/blog/<%= post.image.name %>" alt="<%= post.image.alt %>">
            </div>
        </div>
    <% } %>

    <% if (summary === true) { %>
        <p><%= post.description %></p>
            <p>Read more: <a href="/blog/<%= post.id %>" class="govuk-link"><%= post.title%></a></p>
    <%} else { %>
        <%- post.content %>
    <% } %>
</div>
