<div class="blog-post-list-item">
    <% if (summary === true) { %>
        <p><a href="/blog/<%= post.id %>" class="govuk-link"><%= post.title %></a></p>
    <%} else { %>
        <h2 class="govuk-heading-l"><%= post.title %></h2>
    <% } %>

    <p class="govuk-!-font-size-16">
        <a href="#" class="govuk-link"><%= post.author%></a>.
        <%= post.date %> -
        <% post.tags.forEach(function(tag) { %>
            <a href="<%= tag.href %>" class="govuk-link"><%= tag.name %></a>
        <% }); %>
    </p>

    <div class="embed-container">
        <iframe src="https://www.youtube.com/embed/<%= post.youtubeId %>" title="<%= post.title%> (video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <% if (summary === true) { %>
        <p><%= post.description %></p>
        <a href="/blog/<%= post.id %>" class="govuk-link">Read more</a>
    <%} else { %>
        <p><%- post.content %></p>
    <% } %>
</div>
