<%- include('../../partials/header'); %>

<%
    var validationError = locals.errors ?? {}
    var validationValue = locals.values ?? {}
    var selected = locals.values?.uploadType
    var noOptionSelectedError = validationError.uploadType
    var fileSelected = validationError["file-upload"]
    var hrefOverride = selected ? undefined : 'device'
%>

<div class="govuk-width-container">
    <%- include('../../partials/components/backButton' , {href: '/ingest'}); %>
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <%- include('../../partials/components/errorSummary', { errors: locals.errors, hrefOverride }); %>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" enctype="multipart/form-data">
                    <div class="govuk-form-group <% if(noOptionSelectedError) { %>govuk-form-group--error<% } %>">
                        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <span class="govuk-caption-l">Step 1 of 6</span>
                                <h1 class="govuk-fieldset__heading">
                                    Choose an upload option
                                </h1>
                            </legend>
                            <div id="contact-hint" class="govuk-hint" >
                                You have two options for uploading:
                            </div>
                            <% if(noOptionSelectedError) { %>
                                <p id="upload-type-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> <%= noOptionSelectedError %>
                                </p>
                            <% } %>
                            <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="device" name="uploadType" type="radio" value="device" <% if (fileSelected) { %>checked<% } %> data-aria-controls="conditional-upload-type">
                                    <label class="govuk-label govuk-radios__label" for="device">
                                        Upload from my device
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="urlInput" name="uploadType" type="radio" value="urlInput" <% if (selected === 'urlInput') { %>checked<% } %> data-aria-controls="conditional-url">
                                    <label class="govuk-label govuk-radios__label" for="urlInput">
                                        Upload by entering the URL of the published document
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </form>

                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Get help uploading a document
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p>Contact <a class="govuk-link" href="mailto:openregulationplatform@beis.gov.uk">openregulationplatform@beis.gov.uk</a> if you need help using this service.</p>
                    </div>
                </details>
            </div>
        </div>
    </main>
</div>

<%- include('../../partials/footer'); %>
